on boot
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.xiaomi_rosy
    class hal
    user system
    group system
    shutdown critical
