on boot
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/lcd-backlight/brightness

service vendor.lights-xiaomi /vendor/bin/hw/android.hardware.lights-service.xiaomi
    class hal
    user system
    group system
    shutdown critical
